#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC= # TODO
PRIVATE_KEY=

ROLLUP_ADMIN_PRIVATE_KEY= # TODO

L1_ADAPTER_ADDRESS= # i.e OrbitERC20OFTAdapter address on Ethereum once deployed TODO
L1_LAYER_ZERO_ENDPOINT_ID= # i.e Ethereum Endpoint address TODO
L2_ADAPTER_NAME="Plume"
L2_ADAPTER_SYMBOL="PLUME"
L2_LAYER_ZERO_ENDPOINT_ADDRESS= # i.e Plume Endpoint Address TODO
L2_ADAPTER_ADDRESS= # i.e Address of OrbitNativeOFTAdapter on Plume once deployed TODO