name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Build and Test Contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      # - name: Run Forge build
      #   run: |
      #     forge --version
      #     forge build nest --sizes
      #   id: build

      - name: Run Forge format
        run: |
          forge fmt nest
        id: format

      # - name: Run Forge tests
      #   run: |
      #     forge test nest -vvv
      #   id: test
