name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Build and Test Contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      # - name: Run forge build
      #   run: |
      #     forge --version
      #     forge build nest --sizes
      #   id: build

      # - name: Run forge fmt
      #   run: |
      #     forge fmt nest --check
      #   id: fmt

      # - name: Run forge docs
      #   run: |
      #     forge docs
      #   id: docs

      # - name: Run forge test
      #   run: |
      #     forge test nest -vvv
      #   id: test
